
<button class="btn btn-default btn-xs logoutBtn" ng-click="logOut()">Log Out</button>

<h2>Add a new activity</h2>

<h4>Back to Coordinator Information Main Page
    <a href="/coordinatorInformation" class="btn btn-default">Back</a>
</h4>
<hr>

<div>
    <label>Activity Name:</label>
    <input type="text" placeholder="Activity Name" ng-model="newActivity.activity_name"/>
</div>

<div>
    <label>Max volunteers:</label>
    <input type="number" placeholder="max volunteers" ng-model="newActivity.max_avail"/>
</div>

<div>
    <label>Shift:</label>
    <input type="number" placeholder="shift" ng-model="newActivity.shift"/>
</div>

<div class="preferredContactMethod">Shift time:
    <select ng-model="newActivity.shift_time">
        <option value="" disabled selected hidden>choose from the drop down</option>
        <option value="10:00am-12:00pm">10:00am-12:00pm</option>
        <option value="12:00pm-2:00pm">12:00pm-2:00pm</option>
        <option value="2:00pm-4:00pm">2:00pm-4:00pm</option>
        <option value="4:00pm-4:00pm">4:00pm-6:00pm</option>
    </select>
</div>

<button class="btn btn-default" ng-click="submitActivity()">Submit</button>