
<h2>New User Registration</h2>
<hr>

    <div>
        <label>First Name:</label>
        <input type="text" placeholder="First Name" ng-model="newUser.first_name"/>
    </div>

    <div>
        <label>Last Name:</label>
        <input type="text" placeholder="Last Name" ng-model="newUser.last_name"/>
        <span class="passwordMatch" ng-show="!newUser.first_name.length || !newUser.last_name.length ? show : hide">First and Last name fields are required</span>
    </div>

    <div>
        <label>Email:</label>
        <input type="text" placeholder="Email" ng-model="newUser.email"/>
    </div>

    <div>
        <label>Phone:</label>
        <!--<input type="tel" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="612-123-4567" title="Please format as 612-123-4567" ng-model="newUser.phone"/>-->
        <input type="tel" placeholder="612-123-4567" ng-model="newUser.phone"/>
    </div>

    <div class="preferredContactMethod">Preferred contact method:
        <select ng-model="newUser.contact_method">
        <option value="" disabled selected hidden>choose from the drop down</option>
        <option value="email">Email</option>
        <option value="phonecall">Phone Call</option>
        <option value="text">Text</option>
        </select>
    </div>


    <div><strong>Do you need a reminder sent?</strong>
        <select ng-model="newUser.reminder">
            <option value="" disabled selected hidden>choose from the drop down</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        </br>(you're preferred contact method will be used)
    </div>

    <div>
        <label>Username:</label>
        <input type="text" name="Username" placeholder="Username" ng-model="newUser.username"/>
        <span class="passwordMatch" ng-show="!newUser.username.length ? show : hide">Username is required</span>
    </div>

    <div>
        <label>Password:</label>
        <input type="password" placeholder="Password" ng-model="newUser.password"/>
        <span class="passwordMatch" ng-show="!newUser.password.length ? show : hide">Password is required</span>
    </div>

    <div>
        <label>Confirm Password:</label>
        <input type="password" name="Confirm Password" placeholder="Confirm Password" ng-model="newUser.confirmPassword"/>
    </div>

<span class="passwordMatch" ng-show="newUser.confirmPassword != newUser.password ? show : hide">Password and Confirm Password fields must match</span>
</br>

<a href="/" class="btn btn-default">Back</a>

<!--submit button is disabled until first name, last name, username, password and confirm password fields are completed-->
<button class="btn btn-default" ng-disabled="(newUser.confirmPassword != newUser.password) || !newUser.first_name.length || !newUser.last_name.length || !newUser.username.length || !newUser.password.length ? show : hide" ng-click="registerUser()">Submit</button>


