
<h2>New User Registration</h2>
<hr>

<form>
    <div>
        <label>First Name:</label>
        <input type="text" required name="First Name" ng-model="newUser.first_name"/> required
    </div>

    <div>
        <label>Last Name:</label>
        <input type="text" required name="Last Name" ng-model="newUser.last_name"/> required
    </div>

    <div>
        <label>Email:</label>
        <input type="text" placeholder="Email" ng-model="newUser.email"/>
    </div>

    <div>
        <label>Phone:</label>
        <!--<input type="tel" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="612-123-4567" title="Please format as 612-123-4567" ng-model="newUser.phone"/>-->
        <input type="tel" placeholder="612-123-4567" ng-model="newUser.phone" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
    </div>

    <div class="preferredContactMethod">Preferred contact method:
        <select ng-model="newUser.contact_method">
        <option value="" disabled selected hidden>choose from the drop down</option>
        <option value="email">Email</option>
        <option value="phonecall">Phone Call</option>
        <option value="text">Text</option>
        </select>
    </div>


    <div><strong>Do you need a reminder sent?</strong>
        <select ng-model="newUser.reminder">
            <option value="" disabled selected hidden>choose from the drop down</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        </br>(you're preferred contact method will be used)
    </div>

    <div>
        <label>Username:</label>
        <input type="text" name="Username" placeholder="Username" ng-model="newUser.username" required/> required
    </div>

    <div>
        <label>Password:</label>
        <!--<input type="password" value="Password" ng-model="newUser.password" required/> required-->
        <input type="password" placeholder="Password" ng-model="newUser.password" required/> required
    </div>

    <div>
        <label>Confirm Password:</label>
        <!--<input type="password" value="Confirm Password" ng-model="newUser.confirmPassword" required/> required-->
        <input type="password" name="Confirm Password" placeholder="Confirm Password" ng-model="newUser.confirmPassword" required/> required
    </div>

<span class="passwordMatch" ng-show="newUser.confirmPassword != newUser.password ? show : hide">Password and Confirm Password fields must match</span>
</br>



<a href="/" class="btn btn-default">Back</a>
<button class="btn btn-default" ng-disabled="newUser.confirmPassword != newUser.password ? show : hide" ng-click="registerUser()">Submit</button>

</form>
