
<h2>Returning User Sign In</h2>
<h5>Please sign in to select volunteer openings or view what you've already signed up for.</h5>
<hr>

<div>
    <label>Username:</label>
    <input type="text" ng-model="returningUser.username"/>
</div>

<div>
    <label>Password:</label>
    <input type="password" ng-model="returningUser.password"/>
</div>

<div>
    <a href="/" class="btn btn-default">Back</a>
    <button class="btn btn-default" ng-click="sendSignIn()">Sign In</button>
</div>

<hr>
<h4>Problems with your account?</h4>
<h5>Email Fall Festival Coordinator at: <a href="office@saintbonaventure.org">office@saintbonaventure.org</a></h5>