
<button class="btn btn-default btn-xs logoutBtn" ng-click="logOut()">Log Out</button>

<h2>Coordinator Information</h2>
<h4>Go to Activity List
    <button class="btn btn-default" ng-click="goToActivityList()">View activities</button>

</h4>

<hr>

<h3>Volunteer List</h3>

<hr>

<div>
    <label>Filter:</label>
    <input type="text" class="filter" placeholder="Search" ng-model="searchVolunteers"/>
</div>

<br/>


<table class="volunteerList">
    <tr>
        <th>
            <button ng-click="order('name')">Name</button>
            <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
            <button ng-click="order('contact')">Contact</button>
            <span class="sortorder" ng-show="predicate === 'contact'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
            <button ng-click="order('reminder')">reminder</button>
            <span class="sortorder" ng-show="predicate === 'reminder'" ng-class="{reverse:reverse}"></span>
        </th>
    </tr>
    <!--identify the id of the activity selected-->
    <tr ng-repeat="volunteer in volunteerList | orderBy:predicate:reverse | filter:searchVolunteers">
        <td>{{volunteer.name}}</td>
        <td class="contact">{{volunteer.contact}}</td>
        <td>{{volunteer.reminder}}</td><br/>
        <!--repeat over the activities for each volunteer-->
        <td ng-repeat="volactivity in volunteer.activities">{{volactivity.activity_name}} {{volactivity.shift_time}}</td>
    </tr>
</table>