
<h2>Volunteer Registration</h2>
<hr>

<h5>Want to see what you've previously signed up for or make changes?
    <button class="btn btn-default" ng-click="goToSignedUpFor()">View / Change registration</button>
</h5>

<hr>
<h4>Current volunteer openings</h4>

<h5>Please select one item from the list below. Click Submit once you're done
    <button class="btn btn-default" ng-click="activitySubmitFunction()">SUBMIT</button>
</h5>

<div>
    <label>Filter:</label>
    <input type="text" class="filter" placeholder="search for activity" ng-model="searchOpening"/>
</div>

<br/>

<table class="openingsList">
    <tr>
        <th>
            <button ng-click="order('shift')">Sort by time</button>
            <span class="sortorder" ng-show="predicate === 'shift'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
            <button ng-click="order('activity_name')">Sort by activity</button>
            <span class="sortorder" ng-show="predicate === 'activity_name'" ng-class="{reverse:reverse}"></span>
        </th>

        <th>Available Openings</th>
    </tr>
    <!--identify the id of the activity selected-->
    <tr ng-repeat="available in availableArray | orderBy:predicate:reverse | filter:searchOpening">
        <td><input type="radio" name="holdingPlace" ng-model="selectedActivityID" ng-value="available._id" ng-change="activitySelectedFunction(selectedActivityID)"/> {{available.shift_time}}</td>
        <td>{{available.activity_name}}</td>
        <td>{{available.availOpenings}}</td>
    </tr>
</table>
