<h2>You've signed up for.....</h2>
<hr>
<div class="col-md-2"></div>
<div class="well col-md-6">List of activities user has signed up for</div>
<div class="col-md-2"></div>
</br></br></br></br>
<hr>

<div>
    <p>Would you like an email reminder? (email address must be on file)</p>
    <input type="checkbox" ng-model="reminder">Yes
    <input type="checkbox" ng-model="reminder">No</br>

</div>
<hr>
<div>
    <p>If you need to remove an item, please select the 'remove' checkbox</br>
    next to the item.  Once everything looks correct click the CONFIRM button.</p>
    <button ng-click="">CONFIRM</button>
</div>