
<h2>Hi {{firstName}}!  You've signed up for.....</h2>
<hr>
<h5 ng-show="noActivities">If you need to remove an item, please select the 'REMOVE' button next to the item.</h5>
<div class="well col-md-4">
    <div ng-repeat="item in signedUpFor | orderBy: 'shiftTime'">
        <p>
            {{item.shiftTime}} {{item.activity}}
            <button class="pull-right" ng-show="noActivities" ng-value="item.activityId" ng-click="activityDeleteFunction(item.activityId)">REMOVE</button>
        </p>
    </div>
</div>

</br></br></br></br>
<hr>
<h4>Want to sign up or select another opening?
    <button class="btn btn-default" ng-click="goToVolunteerRegistration()">Volunteer Registration</button>
</h4>

<hr>

<h4>Everything look ok? Go ahead and log out.
    <button class="btn btn-default btn-xs" ng-click="logOut()">Log Out</button>
</h4>
