
<h2>Hi {{firstName}}!  You've signed up for.....</h2>
<hr>
<div class="well col-md-6">
    <div ng-repeat="item in signedUpFor">
        <p>
            {{item.activity}} {{item.shiftTime}} {{item.activityId}}&nbsp&nbsp
            <!--<label for="remove">remove</label>-->
            <input type="checkbox" ng-model="item.activityId" ng-change="activityRemoveFunction()">
            <!--<input type="radio" name="holdingPlace" ng-model="selectedActivityID" ng-value="available._id" ng-change="activitySelectedFunction(selectedActivityID)"/>-->
        </p>
    </div>
</div>

<div class="col-md-2"></div>
</br></br></br></br>
<hr>

<div>
    <p>Would you like an email reminder? (email address must be on file)</p>
    <input type="checkbox" ng-model="reminder">Yes
    <input type="checkbox" ng-model="reminder">No</br>

</div>
<hr>
<div>
    <p>If you need to remove an item, please select the 'remove' checkbox</br>
    next to the item.  Once everything looks correct click the REMOVE button.</p>
    <button ng-click="activityDeleteFunction()">REMOVE</button>
</div>